.place__title{
  margin: 0 0 48px 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  font-family: Inter;
}
@media screen and (max-width: 1220px){
  .place__title{
    max-width: 440px;
  }
}
@media screen and (max-width: 960px){
  .place__title{
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 704px){
  .place__title{
    margin: 0 0 48px 16px;
    min-width: 288px;
    height: 100%;
    font-size: 32px;
    line-height: 35px;
  }
}