@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead{
  width: 928px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 58px auto 92px auto;
  font-family: 'inter', 'arial', 'sans-serif';
}
@media screen and (max-width: 960px){
  .lead{
    max-width: 100%;
  }
}
@media screen and (max-width: 704px){
  .lead{
    margin: 50px auto 0 auto;
  }
}