.footer__copyright{
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
@media screen and (max-width: 704px){
  .footer__copyright{
    margin-top: 48px;
    position: relative;
    line-height: 14px;
  }
}