.place__link{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  font-family: Inter;
}
.place__link:hover{
  opacity: 80%;
}
@media screen and (max-width: 704px){
  .place__link{
    font-size: 16px;
  }
}