@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);

/*
.page__container{
  margin: auto;
  max-width: 1280px;
  position: relative;
  justify-content: center;
}
.header{
  display: flex;
  position: relative;
  width: 948px;
  height: 44px;
  margin: 34px auto 0 auto;
}
.header__logo{
  width: 190px;
  height: 44px;
}
.header__lang-links{
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__lang-link{
  margin-right: 18px;
  align-self: flex-end;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}
.header__lang-link:last-child{
  margin-right: 0;
  text-decoration: none;
}
.lead{
  width: 984px;
  min-height: 615px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 58px auto 92px auto;
}
.lead__title{
  margin: 0;
  width: 720px;
  height: 200px;
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  align-self: center;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
}
.lead__subtitle{
  width: 620px;
  height: 72px;
  font-style: normal;
  font-weight: normal;
  align-self: center;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  font-family: Inter;
}
.lead__image{
  width: 100%;
  height: 100%;
}
.lead__caption{
  margin: 8px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Inter;
}
.intro{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 690px;
  min-height: 569px;
  margin: 92px 442px 92px auto;
}
.intro__title{
  width: 690px;
  margin: 0 0 40px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
  font-family: Inter;
}
.intro__text{
  width: 690px;
  margin: 0 0 32px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  font-family: Inter;
}
.intro__list{
  margin: 0;
  width: 690px;
  height: 72px;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  font-family: Inter;
  list-style-type: none;
}
.photo-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  grid-gap: 16px 16px;
  width: 1184px;
  min-height: 671px;
  margin: 92px 48px;
}
.photo-grid__item{
  margin: 0;
  width: 284px;
  height: 213px;
}
.places{
  position: relative;
  margin: 92px auto;
  padding: 0;
}
.place{
  overflow: hidden;
  position: relative;
  display: flex;
  width: 90%;
  min-height: 584px;
  margin: 0 auto 80px auto;
}
.place__title{
  margin: 0 0 48px 0;
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  font-family: Inter;
}
.place__image{
  display: flex;
  max-width: 460px;
  max-height: 460px;
}
.place__head-content{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place__paragraph-content{
  max-width: 55%;
}
.place__url-heading{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  font-family: Inter;
}
.place__link{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  font-family: Inter;
}
.place__link:hover{
  opacity: 80%;
}
.place__paragraph{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  font-family: Inter;
}
.cover__link{
  position: relative;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/cover-route-66.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}
.cover__link:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.2;
  transition-duration: .5s;
}
.cover__link:hover:after{
  opacity: 0.7;
}
.cover__title{
  z-index: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFDFD;
  font-family: Inter;
}
.cover__subtitle{
  z-index: 1;
  max-width: 320px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  font-family: Inter;
  text-align: center;
}
.footer{
  position: relative;
  display: flex;
  justify-content: right;
  margin: 90px auto 24px auto;
  max-width: 1208px;
  height: 18px;
}

.footer__link{
  margin-right: 18px;
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  font-family: Inter;
  text-decoration: none;
}
.footer__link:hover{
  opacity: .5;
}
.footer__copyright{
  margin: 0;
  position: absolute;
  right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  font-family: Inter;
}

@media screen and (max-width: 1220px){
  .intro{
    width: 690px;
    min-height: 569px;
    margin: 92px 286px 92px auto;
  }
  .photo-grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 14px 14px;
    width: 928px;
    min-height: 671px;
    margin: 92px auto;
    display: grid;
  }
  .photo-grid__item{
    width: 300px;
    height: 255px;
    margin: 0;
  }
  .place{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 90%;
    min-height: 564px;
    margin: 0 auto 80px auto;
  }
  .place__title{
    margin: 0 0 48px 0;
    max-width: 440px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    font-family: Inter;
  }
  .place__image{
    display: flex;
    max-width: 440px;
    max-height: 440px;
  }
  .cover__link{
    position: relative;
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cover-route-66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  .footer{
    position: relative;
    display: flex;
    justify-content: right;
    margin: 90px auto 24px auto;
    max-width: 928px;
    height: 18px;
  }
}
@media screen and (max-width: 960px){
  .header{
    width: 720px;
    height: 44px;
    margin: 34px auto 0 auto;
  }
  .lead{
    max-width: 100%;
    min-height: 615px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 58px auto 92px auto;
  }
  .intro{
    width: 720px;
    min-height: 543px;
    margin: 92px auto;
  }
  .photo-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    grid-gap: 16px 16px;
    max-width: 720px;
    min-height: 1664px;
    margin: 92px auto;
    display: grid;
  }
  .photo-grid__item{
    width: 352px;
    height: 264px;
    margin: 0;
  }
  .place{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 90%;
    min-height: 508px;
    margin: 0 auto 80px auto;
  }
  .place__title{
    display: inline-block;
    margin: 0 0 48px 0;
    max-width: 340px;
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;
    font-family: Inter;
  }
  .place__image{
    display: flex;
    max-width: 340px;
    max-height: 340px;
  }
  .place__paragraph{
    font-size: 16px;
  }
  .place__head-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 45%;
    max-height: 508px;
  }
  .place__paragraph-content{
    max-width: 55%;
  }
  .place__url-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    font-family: Inter;
  }
  .place__link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: Inter;
  }
  .cover{
    width: 100%;
  }
  .cover__link{
    position: relative;
    width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cover-route-66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  .footer{
    position: relative;
    display: flex;
    justify-content: right;
    margin: 90px auto 24px auto;
    max-width: 720px;
    height: 18px;
  }
}
@media screen and (max-width: 704px){
  .header{
    width: 288px;
    height: 36px;
    margin: 34px auto 0 auto;
  }
  .header__logo{
    max-width: 156px;
    max-height: 36px;
  }
  .header__link{
    max-width: 22px;
    max-height: 20px;
  }
  .lead{
    max-width: 100%;
    min-height: 406px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
  }
  .lead__title{
    max-width: 288px;
    height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle{
    max-width: 288px;
    max-height: 40px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  .intro{
    display: flex;
    flex-flow: column wrap;
    max-width: 288px;
    min-height: 543px;
    margin: 64px auto;
  }
  .intro__title{
    max-width: 288px;
    line-height: 35px;
    font-size: 32px;
  }
  .intro__text{
    max-width: 288px;
    line-height: 30px;
  }
  .intro__list{
    max-width: 288px;
    min-height: 72px;
  }
  .photo-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr); 
    grid-gap: 12px;
    max-width: 288px;
    min-height: 2724px;
    margin: 64px auto;
    display: grid;
  }
  .photo-grid__item{
    width: 288px;
    height: 216px;
    margin: 0;
  }
  .places{
    margin: 64px 0;
  }
  .place{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 911px;
    margin: 0 auto 49px auto;
  }
  .place__title{
    margin: 0 0 48px 16px;
    min-width: 288px;
    height: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    color: #FFFFFF;
    font-family: Inter;
  }
  .place__image{
    display: flex;
    min-width: 320px;
    min-height: 320px;
  }
  .place__website{
    display: none;
  }
  .place__head-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    max-height: 508px;
  }
  .place__paragraph-content{
    max-width: 100%;
    margin: 0 16px;
  }
  .place__url-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    font-family: Inter;
  }
  .place__paragraph{
    font-size: 16px;
  }
  .place__link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    font-family: Inter;
  }
  .cover{
    width: 100%;
    
  }
  .cover__link{
    position: relative;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/cover-route-66.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
  }
  .cover__title{
    font-size: 32px;
    line-height: 35px;
  }
  .cover__subtitle{
    max-width: 288px;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 62px 136px 24px auto;
    max-width: 168px;
    height: 198px;
  }
  .footer__link{
    display: block;
    max-width: 103px;
    max-height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
  }
  .footer__items{
    height: 125px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__copyright{
    position: relative;
    font-size: 14px;
    line-height: 14px;
  }
}
